div .list-group-item button{
  padding: 12px 30px 13px;
  text-decoration: none;
  color: #fff;
  background: grey;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  opacity: 0.9;
  float: right;
  position: relative;
  left:-100px;
  bottom: 70px;
  margin: 10px;
}



div .task-container-list ul {
  list-style: none;
  padding: 10px 15px;
}
.task-container-list{
  height: 700px;
}


div .to-do-list-container-list ul {
  background: #f3f3f3;
}

div .task-container-list li {
  list-style: none;
  padding: 10px 15px;
}

div .task-container-list li:hover {
  background: #f3f3f3;
}

/********************************************************************************/
/*complete, incomplete, all*/

ul.task-options-tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: grey;
}

/* Float the list items side by side */
ul.task-options-tab li {float: left;}

/* Style the links inside the list items */
ul.task-options-tab li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.task-options-tab li a:hover {
  background-color: lightgrey;
}

/* Create an active/current tablink class */
.task-options-tab li a:focus{
  background-color: darkgrey;
}

/********************************************************************************/




.task-form-group-list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;


}

.btn-add-task {
  height: 50px;
  padding: 12px 30px 13px;
  text-decoration: none;
  color: #fff;
  background: grey;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  opacity: 0.9;
  float: right;
  position: inherit;
  left:-100px;
  bottom: 20px;
  margin: 10px;

}

.task-form-group-list li{
  display: inline-block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
  width: 400px;

}


.task-form-group{
  display: inline-flex;
}

.task-form-group li > label{
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 34px;
  padding: 2px 5px 2px 5px;
  color: #0D3349;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.task-form-group input[type="text"],
.task-form-group input[type="date"]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.task-form-group input[type="text"]:focus,
.task-form-group input[type="date"]:focus
{
}
.task-form-group li > span{
  background: #F3F3F3;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

/********************************************************************************/

.task-form-group-edit ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.task-form-group-edit li{
  display: inline-block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
  width: 60%;

}


.form-group-editor{
  display: inline-table;
  margin: 10px;
}

.form-group-editor li > label{
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 34px;
  padding: 2px 5px 2px 5px;
  color: #0D3349;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group-editor input[type="text"],
.form-group-editor input[type="date"]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-group-editor input[type="text"]:focus,
.form-group-editor input[type="date"]:focus
{
}
.form-group-editor li > span{
  background: #F3F3F3;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.save-edit-task button{
  padding: 12px 30px 13px;
  text-decoration: none;
  color: #fff;
  background: grey;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  opacity: 0.9;
  float: left;
  position: relative;
  margin: 10px;

}

/***
 * Galleries - Input filter
 */

.galleries-show-list{

  position: relative;
  left: 200px;
}

.galleries-show-list li{
  display: inline-block;
}

.galleries-show-list input {
  padding: 11px;
  font-size: 18px;
  width: 400px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}



.galleries-show-list select {
  color: black;
  background-color: #ddd;
  /*border: 1px solid #2185D0;*/
  font-size: 16px;
  height: 34px;
  width: 136px;
  margin: 10px;
  text-align: center;

}

.results li {
  list-style: none;
  padding: 10px 15px;
}


/***
From Ember style
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #2185D0;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */
.button {
  padding: 12px 30px 13px;
  text-decoration: none;
  color: #fff;
  background: #2185D0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */
.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

/**
 * Top Navigation
 */
.menu {
  height: 4em;
  background-color: #677ae4;
  background-color: #05526A;
  background-color: #2185D0;
}

.menu h1 {
  padding: 7px 0 0 20px;
  color: #f9f9f9;
  font-size: 2.1em;
}

.menu h1 em {
  position: relative;
  left: -12px;
}

.menu a {
  text-decoration: none;
  line-height: 1;
  padding: 15px;
  color: #f9f9f9;
  opacity: 0.85;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 21px;
}

.list-filter input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}

.menu input:focus {
  background-color: #f9f9f9;
  outline: none;
}

.menu button {
  margin-right: 15px;
  position: relative;
  top: -1px;
  left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #262626;
  cursor: pointer;
  opacity: 1;
}

.menu button:hover {
  background-color: #111;
  opacity: 1;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}



.menu .results li:hover {
  background: #f3f3f3;
}

/**
 * Content Area
 */
.body {
  padding: 15px;
}

/**
 * Similar to Jumbotron
 */
.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Individual Listings
 */
.listing {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 15px 50px;
  min-height: 145px;
  position: relative;
}

.listing:hover {
  background-color: #f3f3f3;
}

.listing img {
  height: 100px;
  float: left;
  margin-right: 45px;
  border-radius: 5px;
}

.listing a.image.wide {
  max-width: 100%;
  position: relative;
  z-index: 999;
}

.listing .wide img {
  height: initial;
  width: 100%;
  margin-bottom: 30px;
}

.listing .wide small {
  display: none;
}

.listing a.image {
  max-width: 150px;
  display: block;
  cursor: pointer;
}

.listing small {
  float: left;
  display: block;
  text-align: center;
  width: 136px;
}

.listing h3 {
  padding: 0 15px 0 0;
}

.listing h3 a {
  display: inline;
}

.listing .map {
  position: absolute;
  bottom: 13px;
  right: 50px;
  height: 120px;
  width: 120px;
  background-size: cover;
  border-radius: 5px;
}

.listing .detail {
  width: 36%;
  display: inline-block;
  padding: 10px 15px 0 0;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

.listing .detail span {
  font-weight: 400;
  font-style: normal;
}

.show-listing .title {
  margin-bottom: 15px;
}

.show-listing .detail-section {
  width: 50%;
  padding-left: 30px;
}

.show-listing .owner {
  margin-top: 10px;
}

.show-listing .photo-pic {
  width: 50%;
  height: initial;
  position: static;
}

/**
 * Utilities
 */
.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.tomster {
  background: url(/assets/images/dallas-tomster.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}


.results{
  margin-bottom: 30px;
}

/**
 * Contact form
 */
.contact-input-control  {
  padding: 11px;
  font-size: 18px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  margin-bottom: 20px;
}

.email-content-control{
  padding: 11px;
  font-size: 18px;
  width: 600px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  margin-bottom: 20px;
}

