<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>

  <article>
    <p>
      My name is Aaron Lin, and I’m a Java certified software engineer from Indianapolis. I started my career at Genesys in 2013.
      Recently, I’m looking for opportunities to relocate to the Dallas area.
      In my current role, I have worked as an associate software engineer in the software automation development team.
      I coordinate with developers to provide high quality test coverage for new features of the product.
      I am involved in the agile development cycle to ensure high quality software is delivered in each sprint.
    </p>
    <p>
      To prepare myself working as a software developer, I’m continuously working on some side projects, for example the To-Do List application.
      The To-Do List application is designed to manage the tasks, and user can add, edit, and remove the tasks.
      This is the best practice when I try to explore EmberJs web development.
      It helps me to understand the latest web development technology, such as model-view-controller, HTML&CSS, Spring framework, AWS, and RESTful web services. I’m always having fun when exploring and developing new programming projects and skills.
    </p>
    <p>
      In my spare time, I like to travel and bring back the stunning view when I visit new places all over the world.
      I deeply believe each picture is special and unique. Pictures do not only show the places I’ve been to, but they also bring back the emotions of the moments.
      To create meaningful and memorable pictures, the most important thing is my feeling and thoughts, not just cameras or techniques.
      So I developed this online gallery to showcase my pictures and share my thoughts.
    </p>

    <p>
      Welcome to my website, and please enjoy the beauty of the world through my pictures.
      I also warmly welcome anybody from any part of the world to join my journey.
      Please feel free to get in touch with me and feel free to contact me if you have any questions.
    </p>

  </article>


  <br>

  {{#link-to 'galleries' class="button"}}
    Get Started!
  {{/link-to}}

</div>