<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="left">
        <em>Aaron's Fotos</em>
      </h1>
    {{/link-to}}
    <div class="left links">
      {{#link-to 'about'}}
        About Me
      {{/link-to}}
      {{#link-to 'galleries'}}
        Galleries
      {{/link-to}}
      {{#link-to 'to-do-list'}}
        To-do-list
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>