<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Please feel free to get in touch with me for any corporation opportunities<br>
    We would love to answer any questions you may have.</p>
  <p>
    Aaron's Fotos Office
    <address>
      999 Fake Address Avenue<br>
      Dallas, TX 75001
    </address><br>

    <a href="https://www.linkedin.com/in/aaron-lin-09345658">Linkedin: Aaron Lin</a><br>
    <a href="mailto:aaron.lin.se@gmail.com">aaron.lin.se@gmail.com</a>
  </p>





  {{#link-to 'about' class="button"}}
    About Me
  {{/link-to}}

</div>