<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>

  <br>

  <p>
    Please enjoy the beauty of the world through my pictures...
  </p>

  <br>

  {{#link-to 'to-do-list' class="button"}}
    Next
  {{/link-to}}
</div>

{{outlet}}
