<div class="jumbo">
  <div class="right tomster"></div>
  <h2>To Do List</h2>

  <div>
    <br>
    <ul>
      <li>
        This To-Do-List widget is designed to manage tasks, and tasks are sorted by due dates.
      </li>

      <li>
        There are three categories: "All", "Complete", and "Incomplete" to narrow down list items.
      </li>

      <li>
        Features include adding new task with description and due date, editing or removing existing task,
        and marking task as complete or incomplete.
      </li>
    </ul>


  </div>

  <br><br>

  {{#link-to 'contact' class="button"}}
    Contact us
  {{/link-to}}

</div>

{{outlet}}

